@using WordPuzzle.Models;
@model Game;

<h1>Game</h1>

@{
  Layout = "_Layout";
}

<h3>Word:</h3>
<p>@string.Join(" ", @Model.EmptyList)</p>
<!-- <ul>
  @foreach (Char character in Model.EmptyList)
  {
    <li>@character</li>
  }
</ul> -->
<h3>Missed Letters:</h3>
<p>@string.Join(", ", @Model.IncorrectList)</p>